/* HOME PAGE */
@media only screen and (max-width: 1120px) {

    .home-page-btns{
        width: 100%;
        flex-direction: column;
    }

    .exam-mode,
    .learning-mode{
        width: 80%;
        margin-bottom: 3rem;
        height: 8rem;
    }

}

@media only screen and (max-width: 700px) {
    .popup-info{
        width: 30rem;
        /* height: 45rem; */
        border: none;
        padding: 0 0.5rem 0.5rem;
    }

    .popup-info h4{
        font-size: 1.3rem;
    }

    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    .select-category{
        width: 100%;
        font-size: 1.5rem;
    }

}

/* ERROR PAGE */
@media only screen and (max-width: 1333px){
    .error-info{
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 1168px){
    .error-info{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1003px){
    .error-info{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 838px){
    .error-info{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 674px){
    .error-info{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 507px){
    .error-info{
        font-size: 1rem;
    }

    .error-info button{
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 432px){
    .error-info button{
        width: 90%;
    }
}

/* EXAM PAGE */
@media only screen and (max-width: 1235px){
    .header-panel .blue-box-txt{
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 1168px){
    .header-panel .blue-box-txt{
        text-align: right;
    }

    .exam-page-quest-count .blue-box-txt{
        text-align: center;

    }
}

@media only screen and (max-width: 1024px){
    .main-container{
        flex-direction: column;
    }

    .navi-panel{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 85%;
    }

    .question-text,
    .blue-box-txt,
    .blue-box{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .next-question{
        margin-top: 1rem;
    }

    .navi-panel .exam-header{
        margin-top: 0.5rem;
        justify-content: space-around;
    }

    .primary-panel{
        margin-right: 0;
    }

    .question-text{
        text-align: justify;
    }

}

@media only screen and (max-width: 601px){
    html, body{
        font-size: 8px;
        margin: 0;
    }

    .header-panel{
        flex-direction: column;
    }

    .header-panel div{
        width: 100%;
        justify-content: space-between;
    }

    .blue-box{
        padding: 0.5rem;
    }

    section{
        margin: 0 0.5rem;
    }

    .js-answers-yn label{
        padding: 0.5rem;
        height: 2.5rem;
        width: 8rem;
    }
}

/* RESULT PAGE */

/* @media only screen and (max-width: 1530px) {
    .summary-info,
    .lgl-scource-div p,
    .lgl-scource-div{
        display: none;
    }

    .display-summary-info-btn{
        display: block;
    }
    
    .result-page-header{
        flex-direction: column;
        width: 100%;
    }

    .summary-boxes{
        width: 80%;
        color: white
    } 

    .summary-box{
        padding: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        margin: 1.3rem;
    }

    .exit-btn,
    .try-again-btn,
    .display-summary-info-btn{
        width: 20%;
        margin-left: 7rem;
        margin-right: 7rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        height: 4rem;
    }

    .dynamic-div-question-content{
        flex-direction: column;
        width: 100%;
    }

    .question-media-img-result,
    .question-media-video-result{
        margin-top: 1rem;
        width: 100%;
        z-index: 1;
    }

    .question-content-txt{
        font-size: 1.3rem;
        text-align: justify;
    }

    .quest-score p{
        font-size: 1.3rem;
    }

    .quest-score{
        width: 50%;
        margin-bottom: 0.5rem;
        height: 4rem;
    }

    .yn{
        width: 60%;
    }

    .yes,
    .no{
        font-size: 1.2rem;
        width: 6rem;
    }

    .answer-box{
        padding: 1.5rem;
        text-align: center;
    }

    .answers-content{
        margin-bottom: 1rem;
    }

    .a,
    .b,
    .c{
        font-size: 1.5rem;
    }

    .summary-info-popup{
        width: 85%;
        padding: 1rem;
        color: white;
        font-size: 1.5rem;
        z-index: 2;
    }
    
    .summary-info-popup button{
        margin-top: 1rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .summary-boxes-btns,
    .result-left,
    .result-right{
        width: 100%;
    }

    .lgl-info-popup{
        padding: 1rem;
        width: 90%;
    }

    .lgl-info-txt{
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

} */



