@media only screen and (max-width: 700px) {

    /* HOME PAGE */

    .home-page-btns{
        width: 100%;
        flex-direction: column;
    }

    .exam-mode,
    .learning-mode{
        width: 80%;
        margin-bottom: 3rem;
        height: 8rem;
    }

    .popup-info{
        width: 30rem;
        height: 45rem;
        border: none;
        padding: 0 0.5rem 0.5rem;
    }

    .popup-info h4{
        font-size: 1.3rem;
    }

    .popup-info p,
    .popup-info li,
    .popup-info a,
    .popup-info strong{
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    .select-category{
        width: 100%;
        font-size: 1.5rem;
    }

    /* ERROR PAGE */
    .error-info{
        font-size: 1.5rem;
    }

    .error-info button{
        width: 90%;
    }

    /* RESULT PAGE */
    .result-page-header{
        flex-direction: column;
    }

    .summary-info{
        width: 90%;
        font-size: 1rem;
        margin: 0 auto;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }

    .summary-boxes{
        width: 30rem;
        color: white
    }

    .summary-box{
        font-size: 1rem;
        padding: 1rem;
        height: 0.5rem;
        width: 0.5rem;
    }

    .result-page-btns{
        width: 100%;
    }

    .exit-btn,
    .try-again-btn{
        width: 50%;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .dynamic-div-question-content{
        flex-direction: column;
    }

    .question-media-img-result,
    .question-media-video-result{
        width: 37.5rem;
        height: 22rem;
    }

    .question-content-txt{
        font-size: 1.5rem;
    }

    .a,
    .b,
    .c,
    .quest-score{
        font-size: 1.5rem;
        width: 20rem; 
    }

    .lgl-scource-div{
        width: 40rem;
    }

    /* EXAM PAGE */

}