/* REUSABLE */
/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

html, body{
    font-size: 10px;
    font-family: 'Lato';
    font-weight: 400;
}

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.row{
    margin: 0 auto;
    max-width: 150rem;
}

.btn{
    color: #f7f7f7;
    background-color: #f0ad4e;
    border-radius: 0.3rem;
    width: 100%;
    border: none;
    height: 5rem;
    font-size: 2rem;
}

.btn:disabled,
.btn:hover:disabled{
    background-color: #f7d19c;
}

.btn:hover{
    background-color: #c77c11;
}


/* EXAM PAGE */
/* radiobuttons styling */
.js-answers-abc input,
.js-answers-yn input{
    display: none;
}

.js-answers-yn{
    width: 40rem;
    justify-content: space-between;
    margin-left: 50rem;
}

.js-answers-yn label{
    background-color: #0275d8;
    width: 10rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    font-size: 2rem;
    color: #f7f7f7; 
}

.js-answers-abc label:hover,
.js-answers-yn label:hover{
    background-color: #329ffd;
}

.js-answers-abc label{
    background-color: #0275d8;
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 1.65rem;
    color: #f7f7f7; 
    margin-left: 0;
    margin-bottom: 0.5rem;
}

.js-answers-yn input[type="radio"]:checked+label,
.js-answers-abc input[type="radio"]:checked+label{
    background-color: #025aa5;
}

/* end radio buttons styling */

.js-answers-yn,
.js-answers-abc{
    display: none;
}

.js-answers-abc{
    flex-direction: column;
}

/* hiding video seekbar and other attributes*/
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-fullscreen-button{
    display: none;
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}

/* hide img and video by default */
.question-media-video{
    display: none;
}

.main-panel{
    width: 70%;
    font-size: 1.5rem;
}

.sidebar-panel{
    width: 25%;
    text-align: center;
    margin-top: 1.55rem;
}

.exam-panels{
    display: flex;
    justify-content: space-between;
}

.exam-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.blue-box{
    background-color: #0275d8;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.question-media-img,
.question-media-video{
    width: 100%;
}

.question-text{
    width: 100%;
}

/* time bar */
.time-bar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.time-progress{
    background-color: grey;
    height: 3rem;
    width: 80%;
    position: relative;
    border-radius: 0.3rem;
}

.progress-inner{
    background-color: #5cb85c;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 0.3rem;
    z-index: 1;

}

.countdown-value{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -9px;
    z-index: 2;
}

.skip-reading{
    width: 15%;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 0;
    padding-left: 1rem;
}

.video-playing{
    color: white;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    bottom: -9px;
    position: absolute;
}


/* HOME PAGE */
.select-category{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.8rem;
    background-color: #f0ad4e;
    border: none;
    padding: 1rem;
    border-radius: 0.3rem;
}

.popup-info{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #b3b3b3;
    width: 60rem;
    background: white;
    border-radius: 0.3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 3rem 3rem;
    visibility: hidden;
    transition: trasform 0.4s, top 0.4s ;
}

/* js auto class */
.open-info-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
/* --- */

.popup-info h4{
    font-size: 3rem;
    margin: 3rem 0 1rem ;
    text-align: center;
}

.popup-info p,
.popup-info li,
.popup-info a,
.popup-info strong{
    font-size: 1.5rem;
    text-decoration: none;
}

.popup-info button{
    width: 40%;
    margin-top: 5rem;
    padding: 1rem 0;
    border: 0;
    border-radius: 0.6rem;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    display:block;
    margin: 2rem auto;
}

.home-page-btns{
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}

.exam-mode,
.learning-mode{
    width: 40%;
}







/* RESULTS PAGE */
.summary-info{
    text-align: center;
    width: 25%;
    margin: 2rem auto;
    background-color: #0275d8;
    border-radius: 0.3rem;
    padding: 1.5rem;
    color: #f7f7f7;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    font-size: 2rem;
}

.summary-boxes-btns{
    width: 70%;
}

.exam-result p{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.exam-result,
.summary-boxes{
    display: flex;
    justify-content: space-between;
}

.summary-boxes{
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80rem;
}

.summary-box{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

.sb-red{
    background-color: #d9534f;
}

.sb-green{
    background-color: #5cb85c;
}

.question-media-img-result,
.question-media-video-result{
    display: none;
    height: 57.6rem;
    width: 102.4rem;
}

.exit-btn,
.try-again-btn{
    width: 40%;
    margin-left: 13.2rem;
    margin-right: 13.2rem;
    margin-top: 3rem;
}

.result-left{
    width: 70%;
}

.result-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
}


.question-content-txt{
    font-size: 2.2rem;
}

.question-content-quest-lglsource{
    font-size: 1.7rem;
    text-align: justify;
    text-justify: inter-word;
}

.yn,
.abc,
.lgl-scource-div,
.quest-score{
    display: none;
}

.yn,
.quest-score{
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

.yes,
.no,
.a,
.b,
.c{
    border-radius: 0.3rem;
    font-size: 1.75rem;
}

.lgl-scource-div{
    width: 100%;
    align-items: center;
}

.quest-score p{
    font-size: 1.75rem;
}

.quest-score,
.answers-content,
.lgl-scource-div{
    margin-bottom: 5rem;
}

.answer-box{
    color: black;
    padding: 1.5rem;
    border-radius: 0.3rem;
}

.marked{
    color: white;
}

/* ERROR PAGE */
.error-info{
    text-align: center;
    margin-top: 25rem;
    font-size: 4rem;
}

.error-info button{
    width: 50%;
}