/* REUSABLE */
*{
    font-size: 10px;
}

h1{
    font-size: 5rem;
}

/* EXAM PAGE */
.js-answers-yn,
.js-answers-abc{
    display: none;
}

.js-answers-abc{
    flex-direction: column;
}

.question-media-img,
.question-media-video{
    display: none;
}

/* hiding video seekbar and other attributes*/
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display{
    display: none;
}


/* HOME PAGE */
.popup-info{
    width: 60rem;
    background: grey;
    border-radius: 6rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 3rem 3rem;
    visibility: hidden;
    transition: trasform 0.4s, top 0.4s ;
}

/* js auto class */
.open-info-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
/* --- */

.popup-info h4{
    font-size: 3rem;
    margin: 3rem 0 1rem ;
    text-align: center;
}

.popup-info p,
.popup-info li,
.popup-info a,
.popup-info strong{
    font-size: 1.5rem;
}

.popup-info button{
    width: 50%;
    margin-top: 5rem;
    padding: 1rem 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    border-radius: 0.6rem;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    display:block;
    margin: 2rem auto;
}

