* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Lato';
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.exam-row{
    max-width: 1500px;
    margin: 0 auto;
}

/* REUSABLE */
.btn{
    color: #f7f7f7;
    background-color: #f0ad4e;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
}

.btn:disabled,
.btn:hover:disabled{
    background-color: #f7d19c;
}

.btn:hover{
    background-color: #c77c11;
}

/* nav */
nav{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 5rem;
    align-items: center;
    background-color: #0275d8;
    font-size: 2rem;
    text-transform: uppercase;
}

.main-nav{
    display: flex;
    width: 100rem;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #d5d5d5;
}

nav img{
    border-radius: 1rem;
    width: 5rem;
}

/* mobile adj */
.mobile-adj{
    display: none;
}