@media only screen and (max-width: 512px){
    nav{
        font-size: 1.5rem;
    }

    nav img{
        width: 4rem;
    }
}

@media only screen and (max-width: 415px){
    nav{
        justify-content: space-between;
    }

}

@media only screen and (max-width: 400px){
    .main-nav{
        display: none;
    }

    .mobile-adj{
        display: flex;
        font-size: 3.5rem;
    }

}